<!DOCTYPE html>
<html>

<head>
	<style>
		table {
			font-family: arial, sans-serif;
			border: 3px solid black;
			border-collapse: collapse;
			width: 100%;
		}

		#line-break {
			white-space: pre-line;
		}

		td,
		th {
			border: 1px solid black;
			text-align: left;
			padding: 8px;
		}
	</style>
</head>

<body>
	<table>
		<tr>
			<!-- Page Title -->
			<td style="font-size: 22pt; text-align: center;" colspan="10"><b>Experimentwise safety data sheet, EG No. 1272/2008</b></td>
		</tr>
		<tr>
			<!-- Organisation -->
			<td style="font-size: 20pt; text-align: center;" colspan="10"><b>TH Rosemheim Campus Burghausen</b></td>
		</tr>
		<tr>
			<!-- Lab -->
			<td style="font-size: 20pt; text-align: center;" colspan="10"><b>Organic chemistry (lab course #1)</b></td>
		</tr>
		<!-- General meta infos -->
		<tr>
			<td style="width: 40%" colspan="4">Name
				<div id="line-break" /><b>Doe Jane</b></td>
			<td style="width: 30%" colspan="3">Place
				<div id="line-break" /><b>123</b></td>
			<td style="width: 30%" colspan="3">Assistant
				<div id="line-break" /><b>Smith, A.</b></td>
		</tr>
		<tr>
			<td colspan="10">Preparation/tasks:<div id="line-break"></div><b>
					Empty data, SumFormularPreparation, WhatSoEver you do with XY
				</b></td>
		</tr>
		<!-- header Substance list -->
		<tr>
			<td style="width: 25%" colspan="2">Materials: regents and products</td>
			<td style="width: 10%" colspan="1">MW
				<div id="line-break" />[g/mol]</td>
			<td style="width: 10%" colspan="1">BP
				<div id="line-break" />MP</td>
			<td style="width: 20%" colspan="2">GHS hazard pictograms</td>
			<td style="width: 15%" colspan="2">H/P phrases</td>
			<td style="width: 10%" colspan="1">TLV, LD50, WGK</td>
			<td style="width: 10%" colspan="1">Amount</td>
		</tr>
		<!-- Substance list -->

		<!-- ToDo: generate -->
		<tr>
			<td style="width: 20%" colspan="2">Brom
				<div id="line-break" />Br2</td>
			<td style="width: 10%" colspan="1">159.81</td>
			<td style="width: 10%" colspan="1">58.7/
				<div id="line-break" />-7.2</td>
			<td style="width: 20%" colspan="2">
				<img style="width: 25pt; height: 25pt;" src="../Images/signs/ghs01.gif" alt="ghs01" />
				<img style="width: 25pt; height: 25pt;" src="../Images/signs/ghs02.gif" alt="ghs02" />
				<img style="width: 25pt; height: 25pt;" src="../Images/signs/ghs03.gif" alt="ghs03" />
				<span>Gefahr</span>
			</td>
			<td style="width: 20%" colspan="2">H 330-314-400
				<div id="line-break" />P 210-273-304-340-305-351-338-308-310-403-233</td>
			<td style="width: 10%" colspan="1">WGK 2</td>
			<td style="width: 10%" colspan="1">0.0 g</td>
		</tr>
		<tr>
			<td style="width: 25%; height: 20pt" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 20%" colspan="2"></td>
			<td style="width: 15%" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
		</tr>
		<tr>
			<td style="width: 25%; height: 20pt" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 20%" colspan="2"></td>
			<td style="width: 15%" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
		</tr>
		<tr>
			<td style="width: 25%; height: 20pt" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 20%" colspan="2"></td>
			<td style="width: 15%" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
		</tr>
		<tr>
			<td style="width: 25%; height: 20pt" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 20%" colspan="2"></td>
			<td style="width: 15%" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
		</tr>
		<tr>
			<td style="width: 25%; height: 20pt" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 20%" colspan="2"></td>
			<td style="width: 15%" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
		</tr>
		<tr>
			<td style="width: 25%; height: 20pt" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 20%" colspan="2"></td>
			<td style="width: 15%" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
		</tr>
		<tr>
			<td style="width: 25%; height: 20pt" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 20%" colspan="2"></td>
			<td style="width: 15%" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
		</tr>
		<tr>
			<td style="width: 25%; height: 20pt" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 20%" colspan="2"></td>
			<td style="width: 15%" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
		</tr>
		<tr>
			<td style="width: 25%; height: 20pt" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 20%" colspan="2"></td>
			<td style="width: 15%" colspan="2"></td>
			<td style="width: 10%" colspan="1"></td>
			<td style="width: 10%" colspan="1"></td>
		</tr>

		<!-- header H/P phrases -->
		<tr>
			<td style="width: 100%; text-align: center;" colspan="10">Text of the essential H/P phrases:</td>
		</tr>
		<!-- H/P phrases -->
		<tr style="width: 100%">
			<td style="width: 50%; height: 120pt; vertical-align: unset;" colspan="5">H315 .....</td>
			<td style="width: 50%; height: 120pt; vertical-align: unset;" colspan="5">P261 .....</td>
		</tr>

		<tr>
					<td style="width: 100%; height: 120pt; vertical-align: unset;" colspan="10"><div class="info">Gefahren für Mensch und Umwelt, die von den Ausgangsmaterialien bzw. dem(n) Produkt ausgehen, soweit sie nicht durch genannte Angaben abgedeckt sind (z.B. krebserregend, fruchtschädigend, hautresorptiv):</div><div id="line-break"/></td>
				</tr>
				<tr>
					<td style="width: 100%; height: 120pt; vertical-align: unset;" colspan="10"><div class="info">Schutzmaßnahmen und Verhaltensregeln:</div><div id="line-break"/></td>
				</tr>
				<tr>
					<td style="width: 100%; height: 120pt; vertical-align: unset;" colspan="10"><div class="info">Verhalten im Gefahrenfall, Erste-Hilfe-Maßnahmen (gegebenfalls Kopie der entsprechenden Literaturstelle beiheften):</div><div id="line-break"/></td>
				</tr>
				<tr>
					<td style="width: 100%; height: 120pt; vertical-align: unset;" colspan="10"><div class="info">Entsorgung:</div><div id="line-break"/></td>
				</tr>
				<tr>
					<td style="width: 50%; height: 120pt; vertical-align: unset;" colspan="5"><div>Hiermit verpflichte ich mich, den Versuch gemäß den in dieser Betriebsanweisung aufgeführten Sicherheitsvorschriften durchzuführen.</div><div id="line-break"/><div id="line-break"/><div id="line-break"/><div id="line-break"/><div>Unterschrift des/der Student/in</div></td>
					<td style="width: 50%; height: 120pt; vertical-align: unset;" colspan="5">Präparat zur Synthese mit den auf der Vorderseite berechneten Chemikalienmengen freigegeben.<div id="line-break"/><div id="line-break"/><div id="line-break"/><div id="line-break"/>Unterschrift des/der Assistent/in</td>
				</tr>

	</table>
</body>

</html>
